<h2><%= @task.title %></h2>
<div class="bg-light py-3 my-4 border rounded">
  <%= @task.details %>
</div>
<p><%= @display %></p>
<hr>
<p><%= link_to("Edit task", edit_task_path(@task) ) %></p>
<p><%= link_to("Back to list", tasks_path) %></p>
